
body {
    background-color: rgb(77, 118, 230);
    padding: 80px 0 0;
    margin: 0;   
}
/*Need to learn the '*' syntax*/
body * {
    box-sizing: border-box;
}
/*very tricky*/
.fieldset {
    padding: 0;
    border: 0;
    margin:0;
}
.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    margin-top: 20px;
}
.sign-up {
    width:400px;
    padding: 30px;
    background: white;   
}
.submit {
    background-color: rgb(97, 212, 97);
    font-size: 20px;
    color: white;
}
.signup-form {
    width: 400px;
    padding: 40px;
    background: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}
.signup-form legend {
    width: 100%;
    font-size: 35px;
    font-weight: 300;
    color: #383737;
    text-align: center;
    margin: 0 auto 45px;
/*Had to use the solution in order to style a lot of these components*/    
}
input[type='email'],
input[type='password'],
button[type='submit'] {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: left;
    padding: 15px;
    border: 2px solid #ccc9c9;
    border-radius: 3px;
    background: white;
    margin: 10px auto 20px;
    transition: opacity .5s;
}
button[type='submit'] {
    height: auto;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: white;
    background: rgb(59, 146, 59);
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
}
/*this was out of my scope of knowledge and needed to use the solution to comprehend a lot of the styling syntax*/
input[type='email']:focus,
input[type='password']:focus,
button[type='submit']:focus {
    outline: auto 2px lightskyblue;
    outline: auto 5px
-webkit-focus-ring-color;
box-shadow: 0;    
}

button[type='submit']:hover,
button[type='submit']:focus {
    background-color: green;
    -webkit-transition: background .1s;
    -moz-transition: background .1s;
    -o-transition: background .1s;
    transition: background .1s;
}
.signup-form p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 0;
    color: gray;
}
/*beyond my scope of knowledge currently*/
.signup-form a {
    color: lightslategray;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.submit:hover {
    background-color: green;
    color: white;
}
.sign-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: gray; 
}
.footer {
    text-align: center;
    color: rgb(90, 82, 82);
    margin: 20px;
    font-weight: 500;
    border: 0;
    padding: 0;
}
.footer a {
    color: white;
}
.footer a:hover {
    color: rgb(71, 132, 182);
}








